name: Ansible Quality Check

# Run on any push or pull request
on:
  push:
  pull_request:

jobs:
  ansible-syntax:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: Ansible  
    steps:
      # Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v6

      # Ansible syntax check using Docker
      - name: Ansible Syntax Check
        run: docker run --rm -v ${PWD}:/work -w /work ghcr.io/ansible/ansible:latest ansible-playbook playbooks/site.yml --syntax-check

      # Run Ansible Lint using Docker
      - name: Run Ansible Lint
        run: docker run --rm -v ${PWD}:/data ghcr.io/ansible/ansible-lint:latest ansible-lint .

      # Run Checkov using Docker
      - name: Checkov Scan
        run: docker run --rm -v ${PWD}:/data bridgecrew/checkov:latest -d /data --framework ansible

